/*
Copyright © 2020 Clément Pit-Claudel
https://github.com/cpitclaudel/academic-poster-template

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the “Software”), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/

a {
  color: inherit;
}
address {
  font-style: normal;
  font-size: 1.2rem;
  color: #502382;
}
h1,
h2,
h3 {
  margin: 0;
  font-family: "Yanone Kaffeesatz", arial, serif;
}
pre,
code,
samp,
.monospace {
  font-family: "Ubuntu Mono", monospace;
}
b {
  display: block;
  text-align: center;
  font-weight: 500;
}

@media print {
  body {
    zoom: 200%;
  }
}

@media all and (min-width: 60rem) {
  body {
    display: grid;
    grid-template-rows: auto 1fr auto;
  }

  body > header,
  body > footer {
    grid-auto-flow: column;
  }

  body > header {
    justify-content: space-between;
  }

  main {
    display: grid;
    grid-template-columns: repeat(16, auto);
    overflow: auto;
    padding: 0.5rem;
  }
  main::after {
    content: " ";
    display: block;
    flex-basis: 100%;
    width: 0.5rem;
  }
  main > * {
    margin: 0.5rem;
  }
}
@media not all and (min-width: 60rem) {
  body > header,
  body > footer {
    grid-auto-flow: row;
    justify-content: center;
  }
  body > header > div {
    margin-bottom: 0.75rem;
  }
  main > * {
    margin: 1rem;
  }
  article {
    overflow-x: auto;
    overflow-y: hidden;
  }
}

html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: "Fira Sans Condensed", "Fira Sans", sans-serif;
  margin: 0;
}
body > header,
body > footer {
  align-items: top;
  background: white;
  color: #1b656d;
  display: grid;
  grid-gap: 0.5rem;
  padding: 0.5rem;
}

body > footer {
  text-align: center;
}
body > header {
  text-align: left;
  padding: 1.5rem 1rem 1rem 1rem;
}
body > header img {
  max-height: 5rem;
}
body > header h1 {
  font-size: 2rem;
  font-weight: 600;
}
body > header h2 {
  font-size: 1.15rem;
  font-weight: 500;
}
body > header address {
  margin-bottom: 0.25rem;
  margin-top: 0.75rem;
}
body > header .publication-info {
  display: none;
}
body > header time {
  margin-top: 0.25rem;
}
body > footer {
  padding-bottom: 2rem;
}
main {
  box-sizing: border-box;
  min-height: 0;
}
main > * {
  box-sizing: border-box;
}
main > figure {
  align-content: center;
  display: flex;
  justify-content: center;
}
main img,
main object {
  align-self: center;
  justify-self: center;
  max-width: 100%;
  vertical-align: middle;
}
main figure {
  text-align: center;
}
/*
main figure img {
  width: 100%;
}
*/
main figure img:first-of-type:last-of-type,
main figure object:first-of-type:last-of-type {
  display: block;
  margin: auto;
}
main figure figcaption {
  display: block;
  margin-top: 0.2rem;
  font-size: medium;
  font-style: italic;
  /*background-color: #dcebed;*/
}
article {
  background: #eeeeec;
  color: #333;
  align-content: stretch;
  align-items: center;
  background: #eeeeec;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-rows: min-content;
  hyphens: auto;
  line-height: 1.35;
  padding: 0 0.5rem 0.5rem 0.5rem;
}
article p,
article ul,
article ol,
article pre,
article div,
article figure,
article hr {
  margin: 0;
}
article > *,
article > p,
article > ul,
article > ol,
article > pre,
article > div,
article > figure,
article > hr {
  margin: 0.2rem 0 auto 0;
}
article > mjx-container,
article > .MJXc-display,
article > .MJXp-display,
article > .MathJax_Display,
article > .MathJax_Preview,
article > .MathJax_SVG_Display,
article > .MathJax_SVG_Preview,
article > .MathJax_PHTML_Display,
article > .MathJax_PHTML_Preview,
article > .MathJax_MathML {
  /* override MathJaX */
  margin: 0.5rem 0 auto 0 !important;
}
article > header {
  background: #54768c;
  color: #ffffff;
  margin: 0 -0.5rem auto -0.5rem;
  padding: 0.25rem 0.5rem;
}

article > header.highlight {
  background: #a39bc7;
}

article > header > h3 {
  font-weight: 500;
  font-size: 1.2rem;
}

article pre {
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100%;
}
article hr {
  border-width: thin 0 0 0;
}
article ul,
article ol {
  padding: 0;
}
article ul > li,
article ol > li {
  list-style-type: none;
  margin-left: 1.25em;
  margin-bottom: 0.25rem;
}
article ul > li::before,
article ol > li::before {
  display: inline-block;
  margin-left: -1em;
}
article ul > li:last-child,
article ol > li:last-child {
  margin-bottom: 0;
}
article ol {
  counter-reset: item;
}
article ol > li::before {
  content: counter(item) ". ";
  counter-increment: item;
  font-weight: 500;
  width: 1em;
}
article ul > li::before {
  background: #f57900;
  border-radius: 100%;
  content: " ";
  height: 0.35em;
  vertical-align: middle;
  width: 0.35em;
  margin-right: 0.65em;
}
article ul.inline {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
article ul.inline li {
  display: inline;
  margin: 0.25em 0.5em;
  padding: 0;
}
article ul.inline li::before {
  display: none;
}

article a {
  color: #b36f2b;
  text-decoration: none;
}
footer a {
  text-decoration: none;
}

.split {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
}

table {
  border: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
thead {
  border: none;
  font-size: large;
}
th,
td {
  padding: 0.9rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
tr:hover {
  background-color: #a39bc7;
}

.split2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  grid-gap: 0.25rem;
}

.split3x2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-auto-flow: column;
  grid-gap: 0.25rem;
}

@media not all and (min-width: 60rem) {
  .split3x2 {
    display: flex;
    flex-direction: column;
  }
  .split2 {
    display: flex;
    flex-direction: column;
  }
}

.gallery {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-content: center;
}

.gallery figure {
  margin: 0.1rem;
  align-items: center;
}

.gallery figcaption {
  font-size: 75%;
}

.boxed {
  border: thin solid #f57900;
  padding: 0.25rem;
}
.center {
  text-align: center;
}
.center-self {
  justify-self: center;
  align-self: center;
}
.justify-center {
  justify-self: center;
}
.align-center {
  align-self: center;
}
.xxs {
  font-size: xx-small;
}
.xs {
  font-size: x-small;
}
.small {
  font-size: small;
}
.medium {
  font-size: medium;
}
.large {
  font-size: large;
}
.xl {
  font-size: x-large;
}
.xxl {
  font-size: xx-large;
}
.xxxl {
  font-size: xxx-large;
}
.columns,
.columns-top,
.columns-center,
.columns-bottom {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 0.5rem;
}
.columns-top {
  align-items: start;
}
.columns-center {
  align-items: center;
}
.columns-bottom {
  align-items: end;
}
br.qquad {
  content: " ";
  margin-right: 4em;
}
.separator:empty {
  display: block;
}
.contents {
  display: contents;
}
mjx-container,
.MJXc-display,
.MJXp-display,
.MathJax_Display,
.MathJax_Preview,
.MathJax_SVG_Display,
.MathJax_SVG_Preview,
.MathJax_PHTML_Display,
.MathJax_PHTML_Preview,
.MathJax_MathML {
  margin: 0 !important;
  overflow-x: auto;
  overflow-y: hidden;
}
.MathJax_Preview:empty {
  display: none;
}
